#lights {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

/* Light mode - slightly reduce intensity for softer look */
:root.light #lights {
  opacity: 0.85;
}

canvas {
  width: 100%;
  height: 100%;
}
